.navbar {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 85px;
    height: 85px;
}

.navigation {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    width: 80%;
    padding-left: 100px;
    padding-bottom: 40px;
    padding-top: 30px;
}
a {
    color: white;
    text-align: center;
    height: 25px;
}

button {
    color: white;
    height: 50px;
    width: 120px;
    background-color: #00DD00;
    border-radius: 5px;
    padding: 3px 20px;
    font-size: .9rem;
    font-weight: bolder;
}