body {
    margin: 0px;
}

.front {
    width: 100%;
    height: 820px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/presentation.JPG);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.navbar {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 85px;
    height: 85px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding-left: 100px;
    padding-bottom: 40px;
    padding-top: 30px;
    align-items: center;
}

a {
    color: white;
    text-align: center;
    height: 25px;
}

button {
    color: white;
    height: 50px;
    width: 120px;
    background-color: #00DD00;
    border-radius: 5px;
    padding: 3px 20px;
    font-size: .9rem;
    font-weight: bolder;
}

.front-block {
    text-align: left;
    padding: 14% 10% 8% 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    font-size: 1.6em;
    font-family: sans-serif;

}

.front-text {
    color: white;
    width: 50%;
    text-align: left;
}

.front-text p {
    margin-top: 15px;
    line-height: 150%;
    font-weight: 200;
}

.front-text h1 {
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 120%;
}

strong {
    font-weight: bold;
}

.light {
    font-weight: lighter;
}

.nav-anchor {
    width: 150%;
    padding-left: 200px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
}


.second-section {
    width: 100%;
    height: 100%;
    background: white;
    background-repeat: no-repeat;
    background-size: 100% 95%;
    display: flex;
    flex-direction: column;
}

.rates {
    background-color: white;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Arial;
}

.rates h1 {
    color: #18EA19;
    text-align: center;
    font-size: 60px;
}

.rates p {
    font-size: 23px;
    font-weight: 600;
    text-align: center;
}

.rates div {
    width: 330px;

}

.artwork {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    justify-content: center;
    padding-left: 80px;
    padding-top: 50px;
    padding-right: 120px;
    padding-bottom: 30px;
    font-size: 25px;
}

.artboard {
    width: 50%;
    align-items: center;
}

.artwork img {
    height: 80%;
    width: 100%;
}

.artboard-text {
    width: 30%;
    align-items: center;
    margin-left: 0;

}


.third-section {
    background-color: #18EA19;
    height: 100%;
}

.third-section-text {
    color: white;
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.programs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.programs img {
    height: 100%;
    width: 280%;
}

.programs div {
    width: 10%;
    padding-left: 10px;
    padding-right: 20%;
    padding-bottom: 6%;
}


.fivth-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5% 10%;
    padding-top: 0;
}

.fivth-section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fivth-section img {
    width: 107%;
}
.fivth-section h4 {
    margin-bottom: 0;
}

.fivth-section-first-text {
    padding: 0 15%;
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
    margin-top: 0;
}

.fivth-section-second-text {
    padding: 0 5%; 
    font-size: 1.4em;
    padding: 0 15%;
    text-align: center;
}

.sixth-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.sixth-section img {
    width: 60%;
}

.seventh-section {
    background-color: rgb(229, 229, 229);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seventh-section-text {
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    
}

.seventh-section img {
    width: 100%;
    padding: 0 5%;
}

.seventh-section-assets {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
    padding-left: 9%;
    
}

.seventh-section-assets div {
    width: 20%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
}

.eighth-section {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.funding-partners {
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    
}

.funding-partners-logo {
    width: 80%;
    display: flex;
    justify-content: center;
}

.funding-partners-logo img {
    margin-left: 25%;
    width: 100%;
}

.strategic-partners {
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    
}
.strategic-partners-logos {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
    padding-left: 5%;
 }

.strategic-partners-logos div {
    width: 20%;
    
    text-align: center;
    line-height: 75px;
}

 .strategic-partners-logos img {
    width: 140%;
    right: 0;

 }

 .ninth-section {
    background-color: rgb(229, 229, 229);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.6em;
}
.ninth-text {
    padding: 0 5%; 
    font-size: 1.4em;
    padding: 0 15%;
    text-align: center;
}
.ninth-button {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}
.ninth-section button {
    color: white;
    height: 55px;
    width: 135px;
    background-color: black;
    border-radius: 5px;
    padding: 3px 20px;
    font-size: 1.3rem;
    font-weight: 100;
}
hr {
    border: 0;
    clear: both;
    display: flex;
    width: 86%;
    background-color: #000000;
    height: 1px;
    margin-top: 30px;
}

.footer{
    background-color: #000000;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.1em;
    padding: 0% 5%;
}
.footer div {
    padding: 3.5%;
}

.icons svg {
    width: 40px;
}

.icons {
    display: flex;
    justify-content: space-between;
}
