.navbar {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 85px;
    height: 85px;
}

.navigation {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    width: 80%;
}